.section-contacto{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 85%;
    background-color: $background-main;
}
.article-formulario div form fieldset{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    width: 100%;
    padding: 60px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    font-family: 'poppins';
    font-size: 40px;
    border: none;
    text-align: center;
}
.article-formulario div form fieldset input{
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
}
.article-formulario div form fieldset div input{
    width: 50%;
    padding: 10px;
    font-size: 20px;
} 
.article-formulario div form fieldset div{
    padding-top: 20px;
}
.img-contacto{
    grid-column: 2 / 2;
    grid-row: 1 / 3;
}
.img-contacto img{
    width: 100%;
    height: 100%;
}