@font-face {
    font-family: 'poppins';
    src: url(../assets/font/Poppins-Regular.ttf);

    font-family: 'principal';
    src: url(../assets/font/Merriweather-Bold.ttf);

    font-family: 'lato';
    src: url(../assets/font/Lato-Bold.ttf);
}